.toolbar{
    background-color: black;
    height: 50px;
    width: 100%;
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
}
.secciones{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}