.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    margin-top: 5vh;
    
    position: relative;
    left: 28%;
    width: 40%;
    padding: 2vw;
    background-color: rgba(37, 105, 91, 0.7);

    overflow: hidden;

    
    
    overflow: hidden;
    border-radius: 10%;
}
.form_titulo{
    color:gold;
    opacity: 0.7;
    font-size: 2vw;
}
.form_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    border: none;
    height: auto;
    font-size: 1.5vw;
    background-color: burlywood;
}

.form_boton {
  background-color: #007bff; /* azul por defecto */
  font-size: 1.5vw;
  color: white;
  padding: 0.5% 1%;
  border: none;
  border-radius: 20%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form_boton.enviando {
  background-color: #ffc107; /* amarillo mientras envía */
}

.form_boton.enviado {
  background-color: #28a745; /* verde */
}

.form_boton.error {
  background-color: #dc3545; /* rojo */
}

.form_boton:hover {
  opacity: 0.7;
}
