body{
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: gray;
}
.upload-area {
  border: 2px dashed white;
  padding: 30px;
  width: auto;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.upload-area p {
  margin-top: 10px;
  color: black;
}

.preview-area {
  width: auto;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preview-area .imagen {
  max-width: 100%;
  max-height: 100%;
}

#msg{
    height: 50px;
    white-space: pre-line; /* saltos de línea */
    height: 50px;
}

.btn {
    display: inline-block;
    padding: 10px 10px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 20px;
}

.btn:hover {
    background-color: #0056b3;
}
